* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.left::after,
.magna::after {
  content: "";
  width: 1px;
  height: 220px;
  background: #ccc;
  z-index: 5;
  position: absolute;
  right: 0;
  top: 0;
}
.container {
  width: 80%;
  margin: auto;
}
.header {
  background: blueviolet;
  width: 100%;
  height: 400px;
}
.display {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
}
.left {
  width: 50%;
  position: relative;
  margin-right: 50px;
  padding-right: 15px;
}
.left h2 {
  color: #fff;
  font-weight: bold;
  font-size: 29px;
}
.left h2 span {
  text-transform: uppercase;
  letter-spacing: 8px;
}
.left h2 span:hover {
  color: #00bc8a;
  cursor: pointer;
}

.right {
  width: 49%;
}
.right p {
  color: #fff;
  /* font-weight: bold; */
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.1;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 30px;
}
.right button {
  padding: 10px;
  width: 200px;
  border-radius: 50px;
  border: 0;
  background-color: #00bc8a;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  outline: 0;
  cursor: pointer;
}
/******************************************************************/
.magna::after {
  margin-right: -15px;
}
.section2 {
  height: 400px;
  width: 100%;
  border-bottom: 2px solid #ddd;
}
.flex {
  display: flex;
  align-items: center;
  height: 400px;
}
.magna {
  width: 49%;
  position: relative;
}
.magna h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  color: gray;
}
.magna p {
  line-height: 2;
  margin-bottom: 20px;
  color: #888;
}
.magna button {
  padding: 10px;
  width: 180px;
  border-radius: 50px;
  border: 1px solid #ccc;
  color: rgb(83, 83, 83);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
}
.list {
  width: 50%;
  margin-left: 50px;
  visibility: hidden;
  transition: visibility 0.7s;
}
.list ul {
  list-style: none;
  color: #888;
  line-height: 3;
}
.list ul li i {
  color: #00bc8a;
  margin-right: 5px;
}
/*********************************************************************************/
/*Section 3 */
.art {
  width: 100%;
  background-color: #eee;
}
.part1 {
  display: flex;
  height: 350px;
  border-bottom: 1px solid #888;
  align-items: center;
}
.part1 img {
  width: 40%;
  height: 280px;
  margin-right: 50px;
}
.part1-h {
  width: 48%;
}
.part1-h h2 {
  color: gray;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 30px;
}
.part1-h p {
  color: #888;
  line-height: 2.8;
  margin-bottom: 25px;
}
.part1-h button {
  outline: 0;
  border: 1px solid #ddd;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 15px;
  width: 130px;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
}
/****************************************************************************************/
/*Section*/
.contact {
  height: 600px;
  width: 100%;
}
.contanct-info {
  display: flex;
  height: 600px;
  justify-content: center;
  margin-top: 80px;
}
.info1 {
  width: 50%;
  border-right: 2px solid #ccc;
  padding-right: 50px;
}
.info1 h2 {
  color: gray;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
}
.info1 p {
  color: #888;
  line-height: 2.2;
  margin-bottom: 35px;
}
.info1 form input {
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  height: 35px;
  padding: 5px;
  width: 220px;
  margin-right: 20px;
  outline: 0;
}
.info1 form textarea {
  padding: 5px;
  margin-bottom: 50px;
  outline: 0;
}
.info1 form button {
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: 0;
  text-transform: uppercase;
  color: #444;
  width: 180px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}
.info2 {
  width: 50%;
  margin-left: 50px;
}
.info2 ul {
  list-style: none;
  line-height: 3.1;
}
.info2 ul li {
  color: #888;
}
.info2 ul li i {
  color: #00bc8a;
  margin-right: 8px;
}
/*******************************************************************/

/*footer*/
.footer {
  height: 100px;
  width: 100%;
  margin: 50px auto 0 auto;
  border-top: 1px solid #ddd;
  line-height: 100px;
}
.footer p {
  color: #888;
  text-align: center;
}
